* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

#navc{
    color: snow;
}

#Primeiro{
    background-image: url(Imagens/N1.png);
    background-size: cover;
}

#Segundo{
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(Imagens/N2.png);
    background-size: cover;
}

#Terceiro{
    background-image:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(Imagens/N3.png);
    background-size: cover;
}

#textocarou{
    margin-bottom: -5%;
    color: white;
    display: absolute;
}

.nav-link{
    color: snow;
}

.titlee{
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 40px;
}

.titleNC{
    font-size: 20px;
}

.bginicio{
    background-image: url(Imagens/inicio.jpg);
}

.slider1{
    padding: 10% 2%;
    margin-top: 0;
}

.slider3{
    padding: 7% 2%;
    margin-top: 0;
}

.depoimento {
    margin-bottom: 20%;
}

.le011{
    color: white;
    font-family: shrikhand;
    font-size: 50px ;
}

.le012{
    color: white;
    font-size: 20px ;
}

.branca{
    color: white;
}

.le021{
    color: lime ;
    font-size: 20px ;
    text-align: center;

}

.le022{
    color: white;
    font-size: 18px ;
    text-align: justify;
    padding-right: 10%;
    padding-left: 10%;
}

.le031{
    color: greenyellow;
    font-size: 23px ;
    text-align: center;
}

.le032{
    color: white;
    font-size: 18px ;
    text-align: justify;
    padding-right: 20%;
    padding-left: 20%;
}

.lerop{
    color: white;
    font-size: 30px;
}

.imgcarouf{ 
    background-image: url(Imagens/N4.jpg);
}

.imgcarou{ 
    filter: brightness(50%);  
}

.rop{
    background-color: #0b270e;
}

